__pycache__/AHtalk.cpython-38.pyc
__pycache__/discordConnector.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
__pycache__/subject.cpython-38.pyc
__pycache__/asyncModule.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
talkStates/botURL.json
__pycache__/utility.cpython-38.pyc
talkStates/model.png
talkStates/weather_temp_hi.xml
