__pycache__/AHtalk.cpython-38.pyc
__pycache__/discordConnector.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
__pycache__/subject.cpython-38.pyc
__pycache__/utility.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
__pycache__/postgresConnector.cpython-38.pyc
__pycache__/sqlInterface.cpython-38.pyc
